<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>your account it's created</h1>

<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">id</th>
				<th scope="col">name</th>
				<th scope="col">pass</th>
				</tr>
				<tr th:each="r : ${C}">
				<td class="bg-primary" th:text="${r.getId()}" />
				<td class="bg-success" th:text="${r.getName()}" />
				<td class="bg-warning" th:text="${r.getPass()}" />
				</tr>
				</thead>
				</table>
				
</body>
</html>