<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>welcome create your acc our login</h1>



<form action="/create" method="post">
<table>
<tr><td>User name</td><td> <input type="text" name="name"></td></tr>
<tr><td>Password</td><td> <input type="text" name="pass"></td></tr>
<tr><td></td><td> <input type="submit" value="	create"></td></tr>

</table>
</form>

<form action="/login" method="post">
<table>
<tr><td>User name</td><td> <input type="text" name="nom"></td></tr>
<tr><td>Password</td><td> <input type="text" name="pas"></td></tr>
<tr><td></td><td> <input type="submit" value="	login"></td></tr>

</table>
</form>




</body>
</html>