<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<title>home page</title>
<script src="jquery-3.4.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
<style>
body{
background-image: url("https://i.dailymail.co.uk/i/newpix/2018/03/21/11/4A65C70700000578-5526555-image-a-3_1521630648913.jpg");
background-repeat: no-repeat;
background-size: cover;

}
#all{
box-shadow:2PX 0PX 0PX 0PX ;
background-color:rgba(10,110,170,0.5); 

}
#all h1{
color: white;
text-align: center;
background-color: teal;


}
#all .chose{
text-align: center;
word-spacing: 10px;
}


</style>
</head>

<body>
<div id="all">
<h1>Welcome</h1><br><br><br>

<div class="chose">
<form>
<div class="up">
<img  src="https://static.thenounproject.com/png/531755-200.png">
<a href="PL" button type="submit" class="btn btn-success">Pilote</button></a>
</div>
<br>
<div class="left">
<img  src="https://static.thenounproject.com/png/531755-200.png">
<a href="Us" button type="submit" class="btn btn-success">Tableau</button></a>
</div>
<br>

<div class="right">
<img src="https://static.thenounproject.com/png/531755-200.png">
<a href="AD" button type="submit" class="btn btn-success">Admin</button></a>
</div>
<br>


</form><br><br><br><br><br><br>
</div>
</div>



</body>
</html>